<div class="poll_response" id="poll_reponse_<%= @poll.id -%>">
  <%= form_for(@poll, :remote => true) do |form| %>
    <p><%= @poll.question %></p>
    <ul>
    <% for response_option in @poll.response_options %>
      <%= content_tag('li', radio_button_tag(:poll_response, response_option.text) + response_option.text) %>
    <% end %>
    </ul>
    <%= submit_tag(@poll.button_label, :id => 'poll_response_button') %>
  <% end %>
</div>
